@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$customeTheme:mat.define-theme();

@include mat.core();

.custome-theme{
    @include mat.all-component-themes($customeTheme);

    .mdc-button, .mdc-stroked-button, .mdc-raised-button, .mdc-flat-button{
        @apply rounded-md
    }
}

.custom-container{
    @apply mx-auto max-w-screen-2xl
}

.text-primary{
    color: #7d00fa;
}

button.match-input-height{
    height: var(--mat-form-field-container-height) !important;
}